body {
  background-color: #f1c5ad;
}

.title {
  font-family: Gamja Flower;
  text-align: center;
  color: #424874;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10%;
  font-size: 5rem;
}
.test{
  display:flex;
  flex-direction: column;

}

.textbox {
  height: 1.75rem;
  width:25%;
  align-self:center
}
.header2 {
  margin-bottom: 0.5rem;
  margin: 0 37.5%;

  font-family: "Open Sans";
  color: #424874;
  font-size: 2rem;
}

.header3 {
  font-family: Gamja Flower;
  text-align: center;
  color: #424874;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1%;
  font-size: 5rem;
}

.header4 {
  margin-bottom: 0.5rem;
  margin: 0 10%;

  font-family: "Open Sans";
  color: #424874;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.button > button {
  background-color: #f4eeff;
  border-radius: 0.5rem;

  font-size: 1.5rem;
  color: #424874;
  font-family: "Open Sans";
  padding: 0.5rem 2rem;
}

.feed-view{
  background-color: #F4EEFF;

}
img{
  height: 15rem;
}

.imgo{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
  object-fit: contain;
}